<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="first_name" type="text" class="validate" />
        <label for="first_name">Full Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="disabled" type="email" />
        <label for="disabled">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="tel" />
        <label for="password">Phone Number</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" />
        <label for="email">Promo Code</label>
      </div>
    </div>
    <button class="waves-effect waves-light btn" type="submit">Submit</button>
  </form>
</div>
